/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); */

*{
    font-family: 'Roboto Slab', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    /* transition: .2s linear; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding: 2rem 4%;
    /* z-index: 1000; */
    background: #fff;
    background-color: #93C6E7;
    /* background: transparent; */
    /* filter:brightness(80%); */
}

.header .logo{
    font-size: 2.5rem;
    color:black;
    font-weight: bold;
}
.header .logo span{
    color:yellow;
}

.header .navbar{
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: black;
}
.header .navbar a:hover{
    color: maroon;
}

.login-btn a{
    display: inline-block;
    /* margin-bottom: 3rem; */
    padding:.8rem 4rem;
    background: #FBC252;
    color:black;
    cursor: pointer;
    font-size: 2.3rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}
.loginbtn:hover{
    /* background:yellow; */
}
.header .active{
    box-shadow: black;
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3{
    color: black;
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
}

.home img{
    width:100%;
    margin:1rem 0;
}

.home .btn{
        display: inline-block;
        margin-top: 1rem;
        padding:.8rem 3rem;
        background:#6300a3;
        color: white;
        cursor: pointer;
        font-size: 1.7rem;
        border-radius: .5rem;
        font-weight: 500;
        text-align: center;
}

.icons-container{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
}
.icons-container .icons{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: shadow;
    border-radius: .5rem;
    padding:2rem;
    gap:1.5rem;
    width: 80%;
    margin: auto;
    box-shadow: 10px 10px 5px rgb(129, 127, 127);
}

.icons-container .icons i{
    /* height:5rem; */
    /* width:5rem; */
    line-height:5rem;
    font-size:2.5rem;
    color: black;
    background:#eee;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 2.5rem;
    color: #6300a3;
}

.icons-container .icons .content p{
    font-size: 1.5rem;
    color: color;
}
.icons-container .icons:hover{
    background: black;
}
.icons-container .icons:hover i{
    background: yellow;
}
.icons-container .icons:hover .content h3{
    color:#fff;
}
.icons-container .icons:hover .content p{
    color:#eee;
}

/* Vehical */
.services .heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color: black;
    margin: 2rem auto;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    width: 90%;
    margin: auto;
}
.services .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    /* box-shadow:  box-shadow; */
    border: 1px solid black;
    text-align: center;
}
.services .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background: #BAD1C2;
    color: black;
}

.services .box-container .box h3{
    font-size: 2.2rem;
    color: black;
}
.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color: light-color;
}
.services .box-container .box .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: rgb(136, 39, 55);
    color: honeydew;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}
.services .box-container .box:hover{
    background: black;
}

.services .box-container .box:hover h3{
    color:#fff;
}

.services .box-container .box:hover p{
    color:#eee;
}

/* Features */
.featured .heading{
    margin-top: 4rem;
    text-align: center;
    font-size: 4.5rem;
    color: black;
}
.featured .featured-slider{
    padding:1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box{
    padding:2rem;
    text-align: center;
    /* box-shadow: box-shadow; */
    border: 1px solid black;
    border-radius: .5rem;
    width: 70%;
    margin: 3rem auto;
}
.featured .featured-slider .box img{
    height: 15rem;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
}

.featured .featured-slider .box .content h3{
    font-size: 2.2rem;
    color: black;
}
.featured .featured-slider .box .content .stars{
    padding:1rem 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 1.7rem;
    color: yellow;
}

.featured .featured-slider .box .content .price{
    font-size: 2.5rem;
    color: black;
    margin-bottom: 1rem;
}
.featured .featured-slider .box .content .btn{
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:yellow;
    color:black;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;   
}

/* News-Letter */
.newsletter{
    padding:6rem 2rem;
    /* background: url(../) no-repeat; */
    background-image: url(./Images/letter-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;       
}
.newsletter h3{
    font-size: 3rem;
    color: black;
}

.newsletter p{
    font-size: 1.5rem;
    color: light-color;
    padding:1rem 0;
}

.newsletter form{
    max-width: 60rem;
    height:5rem;
    background:#fff;
    border-radius: 5rem;
    overflow:hidden;
    display: flex;
    margin:1rem auto;
    /* box-shadow: 2px 5px rgb(129, 127, 127);  */
    box-shadow: 10px 10px 5px rgb(129, 127, 127);
    /* box-shadow: var(--box-shadow); */
}

.newsletter form input[type="email"]{
    height: 100%;
    width:100%;
    padding:0 2rem;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
}
.newsletter form input[type="submit"]{
    height: 100%;
    width:17rem;
    font-size: 1.7rem;
    color: white;
    background: black;
    cursor: pointer;
}
.newsletter form input[type="submit"]:hover{
    background: rgb(235, 235, 88);
    color: black;
}
.reviews .heading{
    padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color: black;
    margin: 4rem;
}
.reviews .review-slider{
    padding-bottom: 3rem;
}

.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    /* opacity: .4;
    transform: scale(.9); */
}
.reviews .review-slider .box img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    /* object-fit: cover; */
}

.reviews .review-slider .box .content p{
    color: black;
    font-size: 1.6rem;
    padding:1rem 0;
}

.reviews .review-slider .box .content h3{
    color: black;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
}
.reviews .review-slider .box .content .stars i{
    color: gold;
    font-size: 1.7rem;
}

/* Contact */
.contact .heading{
    margin-bottom: 4rem;
    text-align: center;
    font-size: 4.5rem;
    color: black;

}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    width: 90%;
    margin: auto;
}

.contact .row iframe{
    /* flex:1 1 42rem;
    width: 100%;
    padding:2rem; */
    /* box-shadow: var(--box-shadow); */
    /* border: 1px solid black;
    border-radius: .5rem; */
}

.contact .row form{
    padding:2rem;
    flex:1 1 42rem;
    /* box-shadow: var(--box-shadow); */
    border:  1px solid black;
    text-align: center;
    border-radius: .5rem;
}

.contact .row form h3{
    font-size: 3rem;
    color: black;
    padding-bottom: 1rem;
}
.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border: 1px solid black;
    margin:.7rem 0;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.contact .btn{
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: greenyellow;
    color:black;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

/* Footer */
.footer{
    background: rgb(32, 30, 30);
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding: 30px;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding:1rem 0;
    color: honeydew;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;
    color: whitesmoke;
}
.footer .box-container .box .location{
    /* color: red; */
}
.footer .box-container .box a i{
    padding-right: .5rem;
    color: brown;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: white;
}
